<ion-view title="Camera Tab Default Page" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="cameraTabDefaultPage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Test toggle switches, for result tap button</p>
    </div>
    <form id="cameraTabDefaultPage-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="cameraTabDefaultPage-toggle3" name="test1">Test1</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="cameraTabDefaultPage-toggle2" name="test2">Test2</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="cameraTabDefaultPage-toggle4" name="test3">Test3</ion-toggle>
    </form>
    <a ui-sref="tabsController.cartTabDefaultPage" id="cameraTabDefaultPage-button2" class="button button-positive  button-block icon-left ion-android-cart">Tap me!</a>
  </ion-content>
</ion-view>