<ion-view title="Cloud Tab Default Page" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-dark icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-android-arrow-forward"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/09RZGVjkTrCgEanzKpKt_vergrootglas.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="cloudTabDefaultPage-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="cloudTabDefaultPage-slide28" style="background:url(&quot;img/ymb0ulwTKmGE0GkOJ3IQ_Data-Juggler.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cloudTabDefaultPage-slide29" style="background:url(&quot;img/pOxqLKIzQuaJ7wp66cZT_Pipe-Fitter.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cloudTabDefaultPage-slide210" style="background:url(&quot;img/FDXmnRuhRFOSQ8xDdT3r_Innovatingacrossbusinessecosystems.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <button id="cloudTabDefaultPage-button1" class="button button-positive  button-block">Tap me!</button>
  </ion-content>
</ion-view>